# Python stuff
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor/IDEs
.vscode/
.idea/

# Sensitive files
serviceAccountKey.json
.env

# Sessions
flask_session/
